.git
.github
.idea
.vscode
node_modules
vendor
storage/logs
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/pail
public/storage
public/hot
public/build
.env
.env.*
docker-compose.yml
mobile_app
tests
